*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}

body{
    padding-top: 30px;
}
.jumbotron{
    padding-top: 100px;
    color: rgb(0, 0, 0);
    background: cadetblue;
}
.navbar-inverse{
    color: red;
    background: rgb(0, 0, 0);
}